input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

progress {
    -webkit-appearance: none;
}

::-webkit-progress-bar {
    background-color: #f5f5fa;
    border-radius: 50px;
    height: 8px;
}

::-webkit-progress-value {
    background-color: #0a68ff;
    border-radius: 50px;
}